body{
    background-color: #a3e1ff;
}
p{
    font-size: 30px;
    color: #bdc6d2;

}
img{

    width: 160px;
    height: 150px;
    margin: 0 auto;
    display:block;
}
div{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
#formPanel{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    display:block;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 3% 8%;
    width: 30%;
    margin: 0 auto;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
input[type=text], input[type=password],input[type=email],input[type=first_name], input[type=last_name], input[type=user_name] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
 input[type=button]{
    background-color: #a862ea;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }
#loginForm{
    text-align: center;
}
input{
    margin: 3% 3%;
}
@media screen and (min-width: 1200px){
    #formPanel{
        width: 18%;
    }
    img{
        height: 250px;
        width: 300px;
    }
}

#form_link
{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

#form_link:hover
{
    text-decoration:underline;
}

.form_text
{
    text-align: center;
    font-size: large;
}